# Rust specific ignores
/target/
/**/target/
/src/migrations/target
# If you use Cargo workspaces:
/Cargo.lock
/frontend/node_modules/

# IDE/editor files
*.rs.bk
*.swp
*.swo
*.bak

# VS Code
.vscode/
.env
# JetBrains (CLion, IntelliJ, etc.)
.idea/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Backup files
*~

# By-products of tests
*.profraw

